/* Variables */
:root {
    --font-family: "Montserrat", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #000000;
    --secondary-color: #474747;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.2s;
}
  /* Variables end */

html {
    scroll-behavior: smooth;
}

  /* CSS Resets */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

nav h1 {
    color: var(--primary-color);
}

nav a {
    color: var(--primary-color);
    transition: var(--transition);
}

nav a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
}

nav ul {
    display: flex;
    gap: 2.9rem;
}

nav ul li {
    font-weight: var(--bold-font);
}

.burger-menu {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/*main*/


/*hero section*/

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
}

.bio {
    width: 50rem;
    padding: 0.625rem;
}

.bio h1 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}


/*projects section*/

.projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
}

.project-pic {
    width: 65%;
    height: 60%;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}

.project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1rem;
}

.project-container p {
    padding: 0.4rem;
}

.project-title {
    margin-bottom: var(--bottom-margin);
}

.project-details {
    margin-bottom: var(--bottom-margin);
}

.project-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 3px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
}


/*resume section*/

.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
}

.skill-header {
    margin-bottom: 1rem;
}

.skills-wrapper img {
    padding: 1.25rem;
}

.icon {
    width: 11.875rem;
    height: 11.25rem;
}

.icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 3px var(--secondary-shadow);
    padding: 20px;
    margin: 8px;
}


/*footer section*/

footer {
    position: relative;
    padding: 2rem;
}

.socials {
    display: flex;
    gap: 2rem;
    left: 0.5%;
    bottom: 3%;
}

.socicon {
    width: 2rem;
    height: 2rem;
}

#mail {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
}

.up-arrow {
    width: 3rem;
    height: 3rem;
}


/*media querries*/

/*tablet*/

@media screen and (max-width: 720px) {
    nav {
    padding: 1.5rem 1rem;
    }
}


/*phones*/

@media screen and (max-width: 420px) {
    nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
        }
    
    nav ul li {
        margin: 8px;
        }
    
    .burger-menu {
        display: block;
        }
        
    nav ul.show {
        transform: translateX(0);
        }
        
    .projects-container {
        flex-direction: column;
        }
        
        .project-container {
        width: 20.875rem;
        }
        

    .icon {
        width: 5.875rem;
        height: 5.25rem;
        }
        
    .socicon {
        width: 1rem;
        height: 1rem;
    }

    #mail {
        font-size: 0.7rem;
    }
}